* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.TicketFormDisplay {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
  align-items: center;
}

.TicketFormDisplayContent {
  width: 60%;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  box-shadow: 5px 5px 15px #7e7d7b;
  padding: 3rem 5rem 10rem 5rem;
}

.TicketFormDisplayH1 {
  font-size: 2.3rem;
  color: #7e7d7b;
  padding-bottom: 1rem;
}