.LoginHeader {
  height: 9vh;
  background-color: slategray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  color: white;
}

.user-img {
  cursor: pointer;
}