* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MovieResult {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
}