* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.MovieFilter-MovieFilter {
  display: flex;
  flex-direction: column;
}

.MovieFilter-MovieFilter-Options {
  width: 100vw;
  background-color: lightgray;
  padding: 0 2.5rem;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.MovieFilter-MovieFilter-List {
  height: 7vh;
  display: flex;
  align-items: center;
  gap: 15px;
  list-style: none;
}

.MovieFilter-MovieFilter-List>li {
  cursor: pointer;
}

.MovieFilter-MovieFilter-List>li:hover {
  color: rgb(132, 130, 130);
}

.MovieFilter-MovieFilter-Filters {
  display: flex;
}

.MovieFilter-MovieFilter-Filter-Container {
  width: 20vw;
  height: 83vh;
  padding: 1rem 0;
  border: 2px solid;
  position: sticky;
  top: 3rem;
}

.MovieFilter-MovieFilter-Result-Container {
  width: 80vw;
}

.MovieFilter-MovieFilter-Filter-List {
  padding-top: 1rem;
}

.MovieFilter-MovieFilter-Filter-Name {
  cursor: pointer;
  display: flex;
  justify-content: center;
  gap: 6px;
}

.dropDownIcon {
  padding-top: 3px;
}

.MovieFilter-MovieFilter-Filter-LabelDiv {
  padding-top: 1rem;
  width: 10vw;
}

.MovieFilter-MovieFilter-Filter-Label {
  display: flex;
  padding-left: 7rem;
  gap: 10px;
}

.searchMovie {
  width: 12rem;
  height: 1.7rem;
  font-size: 16px;
  padding-left: .3rem;
}
