/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#home {
  font-size: 1.5rem;
  background-color: rgb(43, 42, 42);
  color: white;
}

#home p {
  width: max-content;
  padding: 10px;
  border-right: 2px solid white;
}

#content {
  text-align: center;
  font-size: 2rem;
}

h1, h2, li{
  margin: 3.5rem;
} */