* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.WelcomePage {
  width: 100%;
  height: 100vh;
}

.WelcomePageHeader {
  font-size: 1.5rem;
  background-color: rgb(43, 42, 42);
  color: white;
}

.WelcomePageHeader .WelcomePageHeaderText {
  width: max-content;
  padding: 1rem;
  border-right: 2px solid white;
}

.WelcomPageHeadingContent {
  height: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.WelcomePageHeadingH1 {
  text-align: center;
  font-size: 3rem !important;
}

.WelcomePageHeadingH2 {
  text-align: center;
  font-size: 2.4rem !important;
}

.WelcomePageHeading, .WelcomePageListItems{
  margin: 3.5rem;
}

.WelcomePageList {
  height: 35vh;
  list-style: none;
  border: 2.5px solid gray;
  padding: 1rem;
}

.WelcomePageListList {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.WelcomePageListItems {
  font-style: italic !important;
  font-size: 2rem;
  color: #000;
}