* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-align: center;
}

.CourseTitle {
  margin: 2rem !important;
  font-size: 2.2rem !important;
}

.CourseTitleH2 {
  font-size: 2rem;
}

.CourseContent {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  margin-top: 4rem !important;
}

.CourseTableWholeContent {
  /* margin-top: 2rem !important; */
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(206, 203, 203);
  padding: 2.4rem 1rem;
}

.CourseTable {
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.CourseTableTag {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 2rem;
}
