* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.ComponentDidMount {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Timer {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.Timer-Btn, .Timer-Btn:hover {
  background-color: #007f22;
  height: 2.5rem;
  width: 7rem;
  color: white;
  border: none;
}