* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.Prevent-text-Select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.MovieHeader-Header {
  width: 100vw;
  height: 10vh;
  background-color: rgba(72, 48, 190, 0.77);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
}

.MovieHeader-Logo {
  width: max-content;
  height: max-content;
  padding: .5rem;
  border: 2px solid white;
  color: white;
  font-weight: bold;
}

.MovieHeader-List {
  display: flex;
  list-style: none;
  gap: 15px;
  color: white;
}

li:hover {
  cursor: pointer;
  color: rgb(206, 202, 202);
}