* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
}

.Prevent-text-Select {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(72, 48, 190, 0.77);
  color: white;
}

.header-list {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 1rem;
}

.nav-list-links {
  color: white;
  font-style: normal;
}

.show-time {
  border: 2px solid white;
  padding: 7px 7px;
  font-weight: bold;
}

.MovieFilter-FilterCategory {
  height: max-content;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3.3rem;
  background-color: #dededc;
}

.FilteCategory-List {
  list-style-type: none;
  display: flex;
  gap: 1rem;
}

.FilterCategory-ListItems a {
  font-size: medium;
  text-decoration: none;
  color: black;
}
