* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

form {
  margin-top: 3rem;
  width: max-content;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

option {
  width: max-content;
  height: max-content;
  padding: 2px 4px;
}

#submit-btns {
  display: flex;
  justify-content: space-evenly;
}
/* 
input {
  text-align: left;
} */