* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.GeneralBtnsContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GeneralBtns {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ModuleBtns button {
  height: max-content;
  width: max-content;
  padding: 5px 10px;
  font-size: 1rem;
}

.ModuleBtns  {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  height: max-content;
  width: max-content;
  height: 1.6rem;
  width: 10rem;
  padding: 2px 4px;
}

button:hover {
  border: 2px solid;
  background-color: lightgray;
}