* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.GeneralBtnsContainer {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.GeneralBtns {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}