* {
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0;
}

.VotersList {
  width: 100%;
  height: 100vh;
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.VoterListText {
  text-align: left;
}

.VoterListTitle, .VoterListEligibleVote, .VoterListNonEligibleVote {
  font-size: 2rem !important;
}

.VoterListEligibleVoters, .VoterListNonEligibleVoters {
  padding-left: 2.5rem;
}

.VotersListListItems {
  font-style: normal;
  color: black;
  text-align: left;
  font-size: 1rem;
}